@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  margin: 0;
  padding:0;
}
body{
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

/*Header cu logo si nav-bar*/

header{
  width: 100vw;
  display:flex;
  gap: 20px;
  background-color: #6D7656;

  
}
#logo{
  max-width: 100px;
  max-height:100px;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}
nav{
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items:center;
  gap: 60px;
  color:green;
  font-size: 24px;
  font-weight: 400;

}


a:link {
  color: white;
  text-decoration: none;
}


a:visited {
  color: white;
  text-decoration: none;
}


a:hover {
  color: #BBBF9F;
  text-decoration: underline;
}


a:active {
  color: #BBBF9F;
  text-decoration: underline;
}

/*Sectiunea 1- Hero Section*/


#hero-section{
  height:100vh;
  background-image: url("Imagini/hero-plant.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: row ;

}


#hero-section h1{
  font-size: 60px;
  padding-top: 40px;
  padding-left: 120px;
  color:#6D7656;

}


#hero-text {
  width: 50%;
  height:auto;
  display: flex;
  justify-content: center;
  flex-direction:column;
  gap: 20px;
  overflow: hidden;
}

.vezi_produse{
  border:none;
  margin-top: 40px;
  max-width:300px;
  border-radius: 12px;
  background-color: #374017;
  margin-left: 120px; 
 padding:20px;
  color:white;
  font-size:24px;
  
}
i{
  margin-left: 8px;
}

/*Sectiunea 2- Despre noi*/


#despre_noi{
  background-color:#6D7656 ;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content:space-around;
  align-items:center;


  
}


img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




#introducere{
  width:50vw;
  height:100vh;
  display: flex;
  flex-direction:column;
  gap:40px;
  justify-content:center;
  overflow: hidden;
  
  

  
}

#container_poza{
  width:50vw;
  height:100vh;
 
  display:flex;
  justify-content: flex-end;
  align-items:center;
  position:relative;
 
  
}


#poza_fondatoarei{
  width: 60%;
  height: 80%;
  box-shadow: 0 8px 6px -6px black;
  z-index:1;
  }

  #rectangle{ 
    position:absolute;
    width: 60%;;
    height: 80%;
    top: 5%;
    right: 5%;
    background-color:white;
    box-shadow: 0 8px 6px -6px black;
    z-index:0;
   
  }
#introducere p, #hero-text p{
  padding-left: 120px;
  padding-right: 150px;
  line-height: 1.5;
  
}

#introducere h1{
  color:white;
  margin-bottom: 20px;
  margin-left: 120px;
}
#introducere p{
color: white;
}

h1{
  font-size:60px;
  color: #374017;
}

/*Sectiunea 3- Categorii produse*/


#categorii_produse {
  background-color:white;
  height: 100vh;
  width:100vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:80px;
  padding: 40px;
}


  

.container-carduri{
  display:flex;
  flex-direction:wrap;
  gap: 40px;

}

h3{
  font-size:40px;
  text-align:center;
  color:white;
  font-weight:400;
  padding:20px;
}

.card{
  background-color:#6D7656;
  width:460px;
  height: 620px;
  display:flex;
  flex-direction:column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out;
  padding: 20px;
  border-radius:12px;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
  background-color: #374017;
  border: 2px solid lightgray;
}
  



.div-img{
  height:80%;
}
/*Sectiunea 4- Produse*/

.div-img2{
  height:50%;
}

#produse{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#6D7656;
  width:100vw;
  height:100vh;
  gap:80px;
 
  padding-bottom:120px;
  

}

#produse h1{
  color:white;
  margin-top: 120px;
}

#produse .vezi_produse{
  margin-left: 0;
  border:none;

}
.container-produse{
  display:flex;
  flex-direction:space-around;
  justify-content:center;
  align-items:center;
  
}

.card-produs{
    background-color:white;
    width:460px;
    height: 620px;
    display:flex;
    flex-direction:column;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out;
    gap: 20px;
    position: relative;
    border-radius:12px;
    
}

.card-produs:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
  border: 2px solid lightgray;
 
}

h5{
  font-size:24px;
}

.card-produs p{
  font-weight: 400;
}



.blocul_pretului{
  position: absolute;
  bottom: 60px;
  font-weight: 600;
  
  
}

.nume_pret{
  color:#374017;
  margin-right: 8px;
  font-size: 18px;
}

.pret_produs{
  font-size: 18px;
}
.buton_cos{
  border:none;
  font-weight: 500;
  background-color: #374017;
  border-radius: 12px;
  padding:12px;
  color:white;
  
}
.span_buton{
 margin-left: 200px;
}

button:hover{
  background-color: #565e44;

}









#recenzii{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction:column;
      height: 100vh;
      width:100vw;
      background: #eee;
      gap:60px;
      
      
      
}


.slider {
  position: relative;
  width: 70%;
  height: 60%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; 
}

.slide {
  width: 100%;
  flex-shrink: 0;
  display:flex;
  
  justify-content:center;
  padding-top:5%;
  gap: 20px;
  
  
}

.card-recenzie{
  background-color:white;
  width:320px;
  height: 420px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out;
  gap: 20px;
  position: relative;
  border-radius:12px;
  
}

.card-recenzie:hover {
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
border: 2px solid lightgray;

}

.card-recenzie .div-img2{
  width:150px; 
  height: 150px; 
  overflow: hidden;
  border-radius:50%;
  
  
}


.navigation {
  position: absolute;
  top: 50%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev, .next {
  background-color:#374017;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 60px;
}

.prev:hover, .next:hover {
  background-color: #565e44;
}